name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  gofmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Ensure gofmt has been run
        run: |
          fmt_out=$(gofmt -l .)
          if [ -n "$fmt_out" ]; then
            echo "$fmt_out" >&2
            echo "::error::Run gofmt on the files above"
            exit 1
          fi

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v6
        with:
          go-version: '1.25.x'
      - name: Go mod download
        run: go mod download
      - name: Run go vet
        run: go vet ./...
      - name: Run go test
        run: go test ./...
